* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  margin: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: #f90;
}

/* Header */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 2;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 30%);
}

.logo {
  color: #f5a63c;
}

.logo:hover {
  cursor: pointer;
}

.logo span {
  margin-left: 10px;
}

.fa-microphone {
  margin-left: 10px;
}

.fa-microphone,
.fa-bell {
  color: #b9b9b9;
}

.fa-microphone:hover,
.fa-bell:hover {
  color: #929292;
  cursor: pointer;
}

.search-box {
  position: relative;
  flex-grow: 0.15;
  height: 33px;
}

.search-box input[type='text'] {
  border: 1px solid #d7d7d7;
  border-radius: 5px 0px 0px 5px;
  padding: 0 60px 0 20px;
  outline: none;
  width: 80%;
  height: 100%;
  float: left;
}

.search-box input[type='text']:focus {
  border-color: rgb(20, 46, 163);
}

.search-box .fa-search {
  padding: 5px;
  background: #ededed;
  font-size: 20px;
  height: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  cursor: pointer;
}

.search-box .fa-search:hover {
  background: #d7d7d7;
}

.menu-box {
  position: relative;
}

.menu-btn {
  background: #f5a63c;
  border-radius: 50%;
  padding: 7px;
  margin-left: 10px;
  position: relative;
}

.menu-btn:hover {
  cursor: pointer;
  animation: menu-pulse 1s;
}

@keyframes menu-pulse {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 176, 73, 0.7);
  }

  50% {
    transform: scale(1);
    background: #d1d1d1;
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  75% {
    transform: scale(0.85);
    background: #d1d1d1;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    background: #f5a63c;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  background: #fff;
  transition: 1s;
  right: 0;
  top: 45px;
  width: 250%;
  list-style: none;
  padding: 0;
}

.menu-btn:hover + .menu,
.menu:hover {
  opacity: 1;
  visibility: visible;
}

.menu li {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  width: 100%;
}

.menu li:hover {
  background: #d1d1d1;
  cursor: pointer;
}

.menu li:first-child {
  border-radius: 10px 10px 0 0;
}

.menu li:last-child {
  border-radius: 0 0 10px 10px;
}

.menu li.log-out {
  color: red;
  border-top: 2px solid #d7d7d7;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 60px;
  background: #e8e8e8;
  height: calc(110vh - 120px);
  width: 240px;
}

.sidebar ul {
  height: 80vh;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.sidebar ul::-webkit-scrollbar-track,
.sidebar ul::-webkit-scrollbar,
.sidebar ul::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.sidebar ul:hover::-webkit-scrollbar-track,
.sidebar ul:hover::-webkit-scrollbar,
.sidebar ul:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.sidebar ul::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.sidebar ul::-webkit-scrollbar-thumb {
  background-color: #f90;
}

.sidebar ul li {
  position: relative;
  font-size: 0.75rem;
  width: 100%;
  padding: 20px;
}

.sidebar ul li:first-child {
  margin-top: 0;
}

.sidebar ul li:hover {
  background: #dfdedf;
  cursor: pointer;
}

.sidebar .user-avatar {
  height: 35px;
  width: 35px;
  background: white;
  border: 5px solid white;
  border-radius: 50%;
}

.sidebar .name {
  position: absolute;
  top: 50%;
  width: 30%;
  transform: translateY(-50%);
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .name:hover {
  color: #4b61dd;
}
.sidebar .watchers {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
}

.sidebar .watchers span {
  position: absolute;
  right: 20px;
}

.sidebar .watchers .blob {
  position: absolute;
  left: 0;
  background: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0 0 rgb(255, 0, 0);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.social-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid white;
  background: #e8e8e8;
  width: 100%;
  height: calc(25vh - 10px);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.social {
  width: calc(100%);
  background: #dadada;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: fit-content;
}

.social .cta {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.social .cta span::selection {
  background: #f5a63c;
}

.social .link {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.social .link a {
  color: black;
  font-size: 1rem;
}

.social .link a:hover {
  color: #4b61dd;
}

/* Tags */

.tags {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  overflow-x: scroll;
  list-style: none;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tags li {
  grid-row-start: 1;
  grid-auto-rows: auto;
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
  margin-right: 15px;
  cursor: pointer;
}

.tags li.active {
  background: #f90;
  color: white;
}

.tags li:hover {
  color: white;
  background-color: #f90;
}

/* Videous */

.main {
  position: relative;
  left: 240px;
  width: calc(100% - 240px);
}

.video-cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-cover img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
}

.video-cover div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.video-cover:hover div {
  visibility: visible;
  opacity: 1;
}

.video-cover:hover div {
  visibility: visible;
  opacity: 1;
}

.video-cover:hover div i {
  cursor: pointer;
}

.video-cover .live {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: #f00;
  padding: 5px 10px;
  border-radius: 5px;
}

.video-cover .live:hover {
  cursor: pointer;
}

.video-cover .viewers {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.video-cover .viewers {
  cursor: pointer;
}

.video-info {
  padding: 30px 20px;
}

.video-info h2 {
  font-size: 25px;
  margin: 0;
}

.video-info .user-avatar {
  height: 35px;
  width: 35px;
  background: white;
  border: 5px solid white;
  border-radius: 50%;
}

.video-info .info-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.info-wrapper div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .name {
  font-size: 0.75rem;
  color: #757575;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .videoname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-wrapper .name:hover,
.info-wrapper .videoname:hover {
  color: #4b61dd;
  cursor: pointer;
}

.video-container {
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.video-container .video-card {
  display: grid;
  max-width: 400px;
  height: 100%;
  grid-template-rows: 200px 1fr;
}

.video-container .info-wrapper {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 25px 1fr 10px;
}

.video-container .info-wrapper i {
  font-size: 0.75rem;
  justify-self: end;
}

.video-container .info-wrapper i:hover {
  cursor: pointer;
}

.video-container .video-card .video-info {
  padding: 10px 0;
}

/* Footer */

footer {
  position: absolute;
  width: 16rem;
  margin-top: 100px;
  bottom: 10px;
  left: 50%;
  white-space: nowrap;
}

footer .fa-youtube:hover {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  .sidebar .name {
    display: none;
  }
  .sidebar .watchers {
    display: none;
  }
  .social-wrapper {
    display: none;
  }

  .sidebar ul {
    height: calc(100vh - 60px);
  }

  .sidebar {
    width: 75px;
  }

  .main {
    position: relative;
    left: 75px;
    width: calc(100% - 75px);
  }

  footer {
    position: absolute;
    width: 20vw;
    margin-top: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

@media screen and (max-width: 550px) {
  header {
    display: grid;
    grid-template-columns: 100px 1fr 60px;
    align-content: center;
  }

  .search-box {
    width: 100%;
  }

  .search-box input[type='text'] {
    width: 60%;
    padding: 10px;
  }
}
